${packageDeclaration}

import com.the6hours.grails.springsecurity.facebook.FacebookUserDomain

${userImport}

class FacebookUser implements FacebookUserDomain {

	long uid
    String secret
    String session
    String email

	static belongsTo = [user: ${userClassName}]

	static constraints = {
		uid unique: true
	}
}
